/Guia 9 Relaciones/EjemploRelaciones1/nbproject/private/
/Guia 9 Relaciones/EjemploRelaciones1/build/
/Guia 9 Relaciones/EjemploRelaciones2/nbproject/private/
/Guia 9 Relaciones/EjemploRelaciones2/build/
/Guia 9 Relaciones/Relaciones_Ej1/nbproject/private/
/Guia 9 Relaciones/Relaciones_Ej1/build/
/Guia 9 Relaciones/Relaciones_Ej1Extra/nbproject/private/